<div class="container">
    <div class="row">
        <div class="col-lg"></div>
        <div class="col-lg-6">
            <form (ngSubmit)="reset()" #forma="ngForm">
                <h2>Añade tu correo electrónico</h2>
                <p>
                    Te enviaremos un enlace a tu correo electrónico para resetear tu contraseña y cambiarlo
                </p>
                <hr />
                <div class="row">
                    <div class="col-lg">
                        <label for="email"><b>Correo electrónico</b></label>
                        <input [ngClass]="{'is-valid': !email.invalid,'is-invalid': email.invalid}" class="form-control" type="email" #email="ngModel" [(ngModel)]="emailvalue" placeholder="Introduzca la correo electrónico" name="email" required [pattern]="pattern" />
                        <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="email.errors.required">Introdusca un correo electronico valido porfavor </div>
                            <div *ngIf="email.errors && email.errors.pattern">El correo electronico no sigue el formato correcto. sigue este ejemplo: prueba@prueba.com </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <button type="submit" [disabled]="!forma.valid" class="signup-btn">Resert password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg"></div>
    </div>
</div>