  
    <div class="page-header  header-small algo" data-parallax="true" >
      <div class="container">
        <div class="row">
        
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div class="container">
        <div class="card card-plain">
          <div class="card-body">
            <h1 class="card-title text-center">Schedule your private tutor</h1>
            <br />
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container manual-flip">
                  <div class="card card-rotate">
                    <div class="front front-background" style="background-image: url('./assets/img/examples/Matematica.jpg');">
                      <div class="card-body">
                        
                          <h2 class="card-title">Math <i style="font-size: 26px;" class="fas fa-calculator"></i></h2>
                        <h3 class="card-title">Aclara tus ideas sobre la matematica y sus diferentes temas</h3>
                      
                        <div class="stats text-center">
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate">
                             Choose subject 
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="back back-background" style="background-image: url('./assets/img/examples/Matematica.jpg');">
                      <div class="card-body">
                        <h3 class="card-title">
                           Subjects
                        </h3>
                        <div>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a><br>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                            theory
                         </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                           analisis
                          </a><br>
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate btn-tarjeta">
                            <i class="fas fa-arrow-circle-left"></i> Back
                          </button>
                         
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container manual-flip">
                  <div class="card card-rotate">
                    <div class="front front-background" style="background-image: url('./assets/img/examples/Fisica.jpg');">
                      <div class="card-body">
                        
                          <h2 class="card-title">Physics <i style="font-size: 26px;" class="fas fa-wave-square"></i></h2>
                        <h3 class="card-title">Aclara tus ideas sobre la matematica y sus diferentes temas</h3>
                      
                        <div class="stats text-center">
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate">
                             Choose subject 
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="back back-background" style="background-image: url('./assets/img/examples/Fisica.jpg');">
                      <div class="card-body">
                        <h3 class="card-title">
                           Subjects
                        </h3>
                        <div>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a><br>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                            theory
                         </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                           analisis
                          </a><br>
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate btn-tarjeta">
                            <i class="fas fa-arrow-circle-left"></i> Back
                          </button>
                         
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container manual-flip">
                  <div class="card card-rotate">
                    <div class="front front-background" style="background-image: url('./assets/img/examples/Quimica.jpg');">
                      <div class="card-body">
                        
                          <h2 class="card-title">Chemistry <i style="font-size: 26px;" class="fas fa-atom"></i></h2>
                        <h3 class="card-title">Aclara tus ideas sobre la matematica y sus diferentes temas</h3>
                      
                        <div class="stats text-center">
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate">
                             Choose subject 
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="back back-background" style="background-image: url('./assets/img/examples/Quimica.jpg');">
                      <div class="card-body">
                        <h3 class="card-title">
                           Subjects
                        </h3>
                        <div>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a><br>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                            theory
                         </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                           analisis
                          </a><br>
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate btn-tarjeta">
                            <i class="fas fa-arrow-circle-left"></i> Back
                          </button>
                         
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container manual-flip">
                  <div class="card card-rotate">
                    <div class="front front-background" style="background-image: url('./assets/img/examples/Espanol.jpg');">
                      <div class="card-body">
                        
                          <h2 class="card-title">Spanish <i style="font-size: 26px;" class="fas fa-book"></i></h2>
                        <h3 class="card-title">Aclara tus ideas sobre la matematica y sus diferentes temas</h3>
                      
                        <div class="stats text-center">
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate">
                             Choose subject 
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="back back-background" style="background-image: url('./assets/img/examples/Espanol.jpg');">
                      <div class="card-body">
                        <h3 class="card-title">
                           Subjects
                        </h3>
                        <div>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a><br>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                            theory
                         </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                           analisis
                          </a><br>
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate btn-tarjeta">
                            <i class="fas fa-arrow-circle-left"></i> Back
                          </button>
                         
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container manual-flip">
                  <div class="card card-rotate">
                    <div class="front front-background" style="background-image: url('./assets/img/examples/Frances.jpg');">
                      <div class="card-body">
                        
                          <h2 class="card-title">French <i style="font-size: 26px;" class="fas fa-book"></i></h2>
                        <h3 class="card-title">Aclara tus ideas sobre la matematica y sus diferentes temas</h3>
                      
                        <div class="stats text-center">
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate">
                             Choose subject 
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="back back-background" style="background-image: url('./assets/img/examples/Frances.jpg');">
                      <div class="card-body">
                        <h3 class="card-title">
                           Subjects
                        </h3>
                        <div>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a><br>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                            theory
                         </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                           analisis
                          </a><br>
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate btn-tarjeta">
                            <i class="fas fa-arrow-circle-left"></i> Back
                          </button>
                         
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container manual-flip">
                  <div class="card card-rotate">
                    <div class="front front-background" style="background-image: url('./assets/img/examples/biologia.jpg');">
                      <div class="card-body">
                        
                          <h2 class="card-title">Biology <i style="font-size: 26px;" class="fas fa-otter"></i></h2>
                        <h3 class="card-title">Aclara tus ideas sobre la matematica y sus diferentes temas</h3>
                      
                        <div class="stats text-center">
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate">
                             Choose subject 
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="back back-background" style="background-image: url('./assets/img/examples/biologia.jpg');">
                      <div class="card-body">
                        <h3 class="card-title">
                           Subjects
                        </h3>
                        <div>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                            calculus
                          </a><br>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                             theory
                          </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-wd btn-tarjeta">
                            theory
                         </a>
                          <a href="#pablo" class="btn btn-info  btn-fill btn-round btn-tarjeta">
                           analisis
                          </a><br>
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate btn-tarjeta">
                            <i class="fas fa-arrow-circle-left"></i> Back
                          </button>
                         
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  